<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Admin HighFive</title>

<!-- Google Font: Source Sans Pro -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<!-- Font Awesome -->
<link rel="stylesheet" href="../assets/plugins/fontawesome/css/all.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="../assets/css/adminlte.min.css" />

<style type="text/css">
  body {
    font-family: "Lato", sans-serif;
  }
</style>
