@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  color: #7c7b7b;
  margin-top: 40px;
  margin-left: 100px;
}

.breadcrumb a {
  color: #7c7b7b;
  text-decoration: none;
}

.category-nav {
  width: 100%;
}

.category-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.category-cards img {
  width: 200px;
}

.category-banner {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.ofertas-semana {
  display: flex;
  justify-content: center;
  gap: 96px;
  margin-bottom: 40px;
}

.content h1 {
  text-align: center;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-products {
  width: 285px;
}

.card-products img {
  width: 285px;
}

.card-products h4 {
  font-weight: 400;
  font-size: 14px;
}

.card-products p {
  font-size: 20px;
  font-weight: 700;
}

#footer-cat {
  display: block;
  position: relative;
  bottom: 0;
}