* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  z-index: 2;
  display: flex;
  color: white;
  background-color: #444444;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 10vh;
}

#header-link{
  color: white;
  text-decoration: none;
}

.primary-button {
  background-color: #0071e3;
  border: none;
  color: white;
  font-size: 17px;
}

.primary-button:hover {
  background-color: #06c;
}

.secundary-button {
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  color: white;
  font-size: 17px;
}

.secundary-button:hover {
  background-color: rgba(0, 0, 0, 0.24);
}

.conteudo {
  display: flex;
  background-color: #fff;
  height: 80vh;
}

.footer {
  z-index: 2;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: center;
  background-color: #444444;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  justify-content: center;
}

.footer a {
  color: white;
  text-decoration: none;
  justify-content: space-between;
  gap: 100px;
}

#menu-mobile {
  display: block;
  
}