.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info-produto {
  margin-bottom: 25%;
  padding-inline: 3%;
}

#info-produto p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#img-principal img {
  height: 50vh;
  display: block;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.img1-product {
  width: 10%;
  height: auto;
}

.img2-product {
  width: 10%;
  height: auto;
}
