* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#principal {
  display: flex;
  align-items: center;
}

#img-principal img {
  max-width: 40vw;
  max-height: 50vh;
  justify-content: space-between;
}

#miniatures {
  width: 15vw;
  height: 49vh;
  margin: 4%;
}

#miniatures ul {
  list-style-type: none;
}

#miniatures ul li img {
  max-width: 8vh;
}

#info-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  margin-right: 25%;
  margin-left: -5%;
  margin-bottom: 10%;
  padding: 2%;
}

#info-products h1 {
  color: #1d1d1f;
  font-size: 40px;
  margin-bottom: 6%;
}

#info-products p {
  font-size: 14px;
  color: #444444;
}

#info-products a {
  color: #06c;
  padding-top: inherit;
}

#button-buy:hover {
  background-color: #06c;
}

#button-buy {
  background-color: #0071e3;
  border: none;
  border-color: #ffffff;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
}

.price {
  margin: revert;
}

#recomendations ul {
  list-style-type: none;
  margin-top: 45%;
}

#recomendations ul li img {
  max-width: 20vh;
}
