<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/finalizacaoCompra.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Compra Finalizada</title>
</head>

<body>
    <%- include('components/header.ejs') %>
    <main>
        <section class="order-number">
            <div>
                <h2>Pedido Número:</h2>
                <h2 id="order">100</h2>
            </div>
        </section>
        <section class="order-status">

            <article>
                <h4>Processado</h4>
            </article>

            <article>
                <h4>Confirmado</h4>
            </article>

            <article>
                <h4>Enviado</h4>
            </article>

            <article>
                <h4>Entregue</h4>
            </article>

        </section>
    </main>
    <%- include('components/footer') %>
</body>

</html>