<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <title>Login</title>
</head>

<body>
   

    <main>
        <form action="/login-auth" method="POST">

            <h2>Login</h2>

            <label for="email">E-mail</label>
            <input type="email" id="email" name="userEmail" placeholder="mail@mail.com" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="userPassword" placeholder="********" required>

            <a href="#" target="_blank">
                <p>Esqueci a senha</p>
            </a>
            <a href="">
                <p>Não sou cadastrado</p>
            </a>

            <button type="submit">Entrar</button>
            <button type="submit">Entrar com Facebook</button>

        </form>
    </main>
    
</body>

</html>