<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/products-new.css" />
    <title>Products</title>
</head>

<body>
    <%- include('components/header.ejs') %>
    <main>
        <div class="section-info">
            <p>Home > Categories > iPad</p>
        </div>
        <div class="container">
            <div id="product-principal-image">
                <img src="/img/products/ipad_pro.jpeg" alt="iPad Pro" loading="leazy">
            </div>
            <div id="product-images">
                <div id="img-1">
                    <img src="/img/products/fundo_ipad_pro.jpeg" alt="iPad 1" loading="leazy">
                </div>
                <div id="img-2">
                    <img src="/img/products/detalhes_ipad_pro.jpeg" alt="iPad 2" loading="leazy">

                </div>
                <div id="img-3">
                    <img src="/img/products/lado_ipad_pro.jpeg" alt="iPad 3" loading="leazy">
                </div>
            </div>
            <div id="product-absctract">
                <h2>iPad Pro</h2>
                <p>Mussum Ipsum, cacilds vidis litro abertis. Si u mundo tá muito paradis? Toma um mé que o mundo vai
                    girarzis! Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Diuretics
                    paradis num copo é motivis de denguis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non
                    tellus tristique interdum.
                    Copo furadis é disculpa de bebadis, arcu quam euismod magna. Aenean aliquam molestie leo, vitae
                    iaculis nisl. A ordem dos tratores não altera o pão duris. Nec orci ornare consequat. Praesent
                    lacinia ultrices consectetur. Sed non ipsum felis.
                </p>
                <a href="#section-info2">
                    <span>
                        Mais informações
                    </span>
                </a>
                <button class="button" type="button"><a href="#" target="_blank">Comprar</a></button>
            </div>
            <div id="divider"></div>
            <div id="produtcs-recommendations">
                <h3>Recomendados</h3>
                <ul>
                    <li>
                        <img src="/img/products/caneta_ipad_pro.jpeg" alt="iPad Pen" loading="leazy">
                    </li>
                    <li>
                        <img src="/img/products/caneta_ipad_pro.jpeg" alt="iPad Pen" loading="leazy">
                    </li>
                    <li>
                        <img src="/img/products/caneta_ipad_pro.jpeg" alt="iPad Pen" loading="leazy">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section-info">
            <h2>Informações do Produto</h2>
        </div>
        <div class="section-info2" id="section-info2">
            <p>Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss deixa as pessoas mais interessantis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
            Mé faiz elementum girarzis, nisi eros vermeio. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Vehicula non. Ut sed ex eros. Vivamus sit amet nibh non tellus tristique interdum.
        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit. Vide electram sadipscing et per. Per aumento de cachacis, eu reclamis. Paisis, filhis, espiritis santis. Cevadis im ampola pa arma uma pindureta.</p>
        </div>

    </main>
    <%- include('components/footer.ejs') %>
</body>

</html>