<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/products.css" />
    <title>Products</title>
</head>
<body>
    <header>
        <nav class="header">
        <a href="/home"><img src="" alt="logo"></a>
        <a href="">cat1</a>
        <a href="">cat2</a>
        <a href="">cat3</a>
        <a href="">cat4</a>
        <a href="">cat5</a>
        <a href="">cat6</a>
        </nav>
    </header>
    <main class="conteudo">
        <section id="principal">
            <div id="img-principal"><img src="" alt=""></div>
            <div id="miniaturas">
                <ul>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                    <li><img 
                        class=""
                        src=""
                        alt=""
                        />
                    </li>
                </ul>
            </div>
        </section>
        <section id="info-produto">
            <h3>Ipad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, delectus rem! Facilis cum error impedit, similique vitae voluptate ea, odio excepturi corporis voluptas, mollitia officia vero provident! Beatae, eaque iure?</p>
            <a href="http://localhost:7000/products-info">mais informações</a>
            <button id="buttoon-comprar">Comprar</button>
        </section>
        <section id="recomendacoes">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <a href="/atendimento">Atendimento</a>
        <a href="/institucional">Institucional</a>
        <a href="/pagamento">Pagamento</a>
    </footer>
</body>
</html>