<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Products</title>
</head>
<body>
    <header>
        <nav class="header">
        <a href="/home"><img src="" alt="logo"></a>
        <a href="">cat1</a>
        <a href="">cat2</a>
        <a href="">cat3</a>
        <a href="">cat4</a>
        <a href="">cat5</a>
        <a href="">cat6</a>
        </nav>
    </header>

    <main class="conteudo">
        <h1>Teste</h1>
    </main>

    <footer class="footer">
        <a href="/atendimento">Atendimento</a>
        <a href="/institucional">Institucional</a>
        <a href="/pagamento">Pagamento</a>
    </footer>

</body>
</html>