<header>
    <nav class="header">
    <a href="/home"><img src="" alt="logo"></a>
    <a href="">cat1</a>
    <a href="">cat2</a>
    <a href="">cat3</a>
    <a href="">cat4</a>
    <a href="">cat5</a>
    <a href="">cat6</a>
    </nav>
</header>