<header>
    <nav class="header">
        <a href="/home"><img src="" alt="logo"></a>
        <a id="header-link" href="">cat1</a>
        <a id="header-link" href="">cat2</a>
        <a id="header-link" href="">cat3</a>
        <a id="header-link" href="">cat4</a>
        <a id="header-link" href="">cat5</a>
        <a id="header-link" href="">cat6</a>
        <img id="menu-mobile" src="/img/menu-icon-white.png" alt="Menu icon">
    </nav>
</header>